% rebase('base.html')
<h1 class="page-h1">Login Failed, please try again</h1>
</header><!-- .banner -->
<main id="content" class="main-area page-content" role="main">
    <form id="loginform" action="/login" class="card login-card" method="POST">
        <h2 class="mb-1">Login Failed , please try again</h2>
        <h5>Nick:</h5>
        <input class="mb-1 input-field" name="nick">
        <h5>Password:</h5>
        <input type="password" class="input-field" name="password">
        <a href="#" class="forgot-pw"><h4>Forgot Password?</h4></a>
        <input type="submit" value="Login" class="btn submit-btn" id="login-button">
    </form>
</main>