% rebase('base.html')
        <h1 class="page-h1">{{title}} @ {{company}}</h1>
        </header><!-- .banner -->

        <main id="content" class="main-area page-content" role="main">
            <section class="card wide-card">
                <h2>{{title}}</h2>
                <h4>Posted on {{date}} by {{owner}}</h4>
                <h3>{{company}}</h3>
                <h4 class="paragraph-font-color">Location: {{location}}</h4>
                <hr class="mb-1">
                <h2>Details:</h2>
                {{!description}}
            </section>
        </main>